:root {
  font: var(--fn-font-body);
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: var(--md-sys-color-primary);
}
